<!DOCTYPE html>
<html>
  <head>
    <title>docker-rails</title>
    <%= csrf_meta_tags %>

    <script type="text/javascript" src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.css"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
